public/resources/XML/X250_201000/MDX-002.0.dtd

<!-- *********************
     Main MDX structure
     *********************
-->

<!ELEMENT MDX (ADMINISTRATION, PROTOCOL, ECU_DATA, SPECIAL_PROCEDURES?, DEVIATIONS?, VARIANT*) >
  <!ATTLIST MDX VERSION CDATA #FIXED "2.0"
                xmlns:xlink CDATA #FIXED "http://www.w3.org/1999/xlink">


<!-- *********************************
     Common/re-used elment definitions 
     *********************************
 -->

<!ELEMENT NAME (#PCDATA)>

<!ELEMENT NUMBER (#PCDATA)>

<!ELEMENT SHORTNAME (#PCDATA)>
<!ELEMENT DESCRIPTION (#PCDATA)>
<!ELEMENT JUSTIFICATION (#PCDATA)>

<!ELEMENT TABLE (NAME, FIELD+)>
  <!ATTLIST TABLE ID ID #IMPLIED>

<!ELEMENT FIELD (NAME, DESCRIPTION?, FIELD_VALUE?, FIELD*) >
  <!ATTLIST FIELD ID ID #IMPLIED>
  <!ELEMENT FIELD_VALUE (#PCDATA)>


<!ELEMENT SUB_FIELD (NAME?, SHORTNAME?, DESCRIPTION?, LEAST_SIG_BIT, MOST_SIG_BIT,
                     (DATA_DEFINITION, (NUMERIC_RANGES | UNCONTROLLABLE_ENUM_VALUES)? )+ )>

  <!ATTLIST SUB_FIELD ID ID #IMPLIED>

<!ELEMENT DATA_DEFINITION (DATA_TYPE, DESCRIPTION?,
                           (NUMERIC_PARAMETERS | ENUMERATED_PARAMETERS | ASCII_PARAMETERS | BCD_PARAMETERS)?) >

   <!ATTLIST DATA_DEFINITION ID ID #IMPLIED >


  <!ELEMENT DATA_TYPE (#PCDATA)> <!-- *** DTC, unsigned, signed, float, enumerated, ascii, bcd, bytes -->
  <!ELEMENT LEAST_SIG_BIT (#PCDATA)>
  <!ELEMENT MOST_SIG_BIT (#PCDATA)>

  <!ELEMENT NUMERIC_RANGES (MIN_READ_VALUE?, MAX_READ_VALUE?,
                            MIN_WRITE_VALUE?, MAX_WRITE_VALUE?,
                            MIN_CONTROL_VALUE?, MAX_CONTROL_VALUE?)>
    <!ELEMENT MIN_READ_VALUE (#PCDATA)>
    <!ELEMENT MAX_READ_VALUE (#PCDATA)>
    <!ELEMENT MIN_WRITE_VALUE (#PCDATA)>
    <!ELEMENT MAX_WRITE_VALUE (#PCDATA)>
    <!ELEMENT MIN_CONTROL_VALUE (#PCDATA)>
    <!ELEMENT MAX_CONTROL_VALUE (#PCDATA)>

  <!ELEMENT UNCONTROLLABLE_ENUM_VALUES EMPTY >
    <!ATTLIST UNCONTROLLABLE_ENUM_VALUES ENUM_REFS IDREFS #REQUIRED>

  <!ELEMENT BYTE_SIZE (#PCDATA)>


  <!ELEMENT NUMERIC_PARAMETERS (RESOLUTION, OFFSET, UNITS, (RANGE_LOW, RANGE_HIGH )?)>
    <!ELEMENT RESOLUTION (#PCDATA)>
    <!ELEMENT OFFSET (#PCDATA)>
    <!ELEMENT UNITS (#PCDATA)>
    <!ELEMENT RANGE_LOW (#PCDATA)>
    <!ELEMENT RANGE_HIGH (#PCDATA)>

  <!ELEMENT ENUMERATED_PARAMETERS (ENUM_MEMBER+)>
    <!ELEMENT ENUM_MEMBER (ENUM_VALUE, DESCRIPTION?)>
      <!ATTLIST ENUM_MEMBER ID ID #IMPLIED>

      <!ELEMENT ENUM_VALUE (#PCDATA)>

  <!ELEMENT ASCII_PARAMETERS (JUSTIFICATION, ASCII_FILL_VALUE) >
    <!ELEMENT ASCII_FILL_VALUE (#PCDATA)>

  <!ELEMENT BCD_PARAMETERS (JUSTIFICATION, BCD_FILL_VALUE) >
    <!ELEMENT BCD_FILL_VALUE (#PCDATA)>

  <!ELEMENT ACCESS_PARAMETERS (READABLE?, WRITEABLE?, PERIODIC?, CONTROLLABLE*, SCALABLE?,
                               DOWNLOADABLE?, UPLOADABLE?) >

  <!ELEMENT READABLE EMPTY>
    <!ATTLIST READABLE SERVICE_REFS IDREF  #REQUIRED
                       SESSION_REFS IDREFS #REQUIRED
                       SECURITY_REFS IDREFS #IMPLIED>


  <!ELEMENT WRITEABLE EMPTY>
    <!ATTLIST WRITEABLE SERVICE_REFS IDREF  #REQUIRED
                        SESSION_REFS IDREFS #REQUIRED
                        SECURITY_REFS IDREFS #IMPLIED>

  <!ELEMENT PERIODIC EMPTY>
    <!ATTLIST PERIODIC  SERVICE_REFS IDREF  #REQUIRED
                        SESSION_REFS IDREFS #REQUIRED
                        SECURITY_REFS IDREFS #IMPLIED>

  <!ELEMENT CONTROLLABLE (ENTRY_CONDITIONS?, EXIT_CONDITIONS?)>
    <!ATTLIST CONTROLLABLE SERVICE_REFS IDREF    #REQUIRED
                           SESSION_REFS IDREFS   #REQUIRED
                           SECURITY_REFS IDREFS  #IMPLIED
                           IOCP_REFS IDREFS      #REQUIRED
                           SUB_FIELD_REFS IDREFS #IMPLIED>

  <!ELEMENT SCALABLE EMPTY>
    <!ATTLIST SCALABLE  SERVICE_REFS IDREF  #REQUIRED
                        SESSION_REFS IDREFS #REQUIRED>

  <!ELEMENT DOWNLOADABLE EMPTY>
    <!ATTLIST DOWNLOADABLE SERVICE_REFS IDREFS  #REQUIRED
                           SESSION_REFS IDREFS  #REQUIRED
                           SECURITY_REFS IDREFS #IMPLIED>

  <!ELEMENT UPLOADABLE EMPTY>
    <!ATTLIST UPLOADABLE SERVICE_REFS IDREFS  #REQUIRED
                         SESSION_REFS IDREFS  #REQUIRED
                         SECURITY_REFS IDREFS #IMPLIED>


  <!ELEMENT DATE (YEAR, MONTH, DAY)>
    <!ELEMENT YEAR (#PCDATA)>
    <!ELEMENT MONTH (#PCDATA)>
    <!ELEMENT DAY (#PCDATA)>

  <!ELEMENT COMMENT (#PCDATA)>

  <!ELEMENT ENTRY_CONDITIONS (#PCDATA)>
  <!ELEMENT EXIT_CONDITIONS (#PCDATA)>

  <!ELEMENT SPECIAL_CONSIDERATIONS (#PCDATA)>


<!-- *******************************************************************
     The ADMINISTRATION element contains document management information
     The TABLE and FIELD elements allow flexibility as to what may be
     put here.
     *******************************************************************
-->
<!ELEMENT ADMINISTRATION (ECU_NAME, SHORTNAME,  SSDS_INFORMATION?, 
                          SPECIFICATION_DOCUMENTS?, (TABLE | FIELD)*)>
  <!ELEMENT ECU_NAME (#PCDATA)>

  <!ELEMENT SSDS_INFORMATION (SSDS_PART_NUMBER, SSDS_NOTICE_NUMBER?, ECU_SOFTWARE_AFFECTED?)>

        <!ELEMENT SSDS_PART_NUMBER (#PCDATA)>
        <!ELEMENT SSDS_NOTICE_NUMBER (#PCDATA)>
        <!ELEMENT ECU_SOFTWARE_AFFECTED (#PCDATA)>

  <!ELEMENT SPECIFICATION_DOCUMENTS (DOCUMENT+)>
      <!ELEMENT DOCUMENT (NAME, SHORTNAME?, PUBLISHER, VERSION?, DOCUMENT_NUMBER?)>
      <!ATTLIST DOCUMENT ID ID #IMPLIED>

        <!ELEMENT VERSION (#PCDATA)>
        <!ELEMENT PUBLISHER (#PCDATA)>
        <!ELEMENT DOCUMENT_NUMBER (#PCDATA)>


<!-- *******************************************************************
     The PROTOCOL element contains information regarding the service &
     features of the 7-layer ISO model.  This information is layered
     from the physical layer up to the application service layer
     *******************************************************************
-->

<!ELEMENT PROTOCOL (PHYSICAL_AND_LINK_LAYER+, NETWORK_LAYER, APPLICATION_LAYER)>

  <!ELEMENT PHYSICAL_AND_LINK_LAYER (NAME, CIRCUITRY, CONNECTOR, DATA_RATE, ADDRESS_SIZE, PHYSICAL_ADDRESS, 
                                     FUNCTIONAL_ADDRESS?,SECONDARY_FUNCTIONAL_ADDRESS?, RESPONSE_ADDRESS?, 
                                     UUDT_RESPONSE_ADDRESSES? )>
      <!ATTLIST PHYSICAL_AND_LINK_LAYER ID ID #IMPLIED>

    <!ELEMENT CIRCUITRY (#PCDATA)>
    <!ELEMENT CONNECTOR (NAME, PIN+)>
      <!ELEMENT PIN (NAME, NUMBER)>
    <!ELEMENT DATA_RATE (#PCDATA)>
    <!ELEMENT ADDRESS_SIZE (#PCDATA)>
    <!ELEMENT PHYSICAL_ADDRESS (#PCDATA)>
    <!ELEMENT FUNCTIONAL_ADDRESS (#PCDATA)>
    <!ELEMENT SECONDARY_FUNCTIONAL_ADDRESS (#PCDATA)>
    <!ELEMENT RESPONSE_ADDRESS (#PCDATA)>
    <!ELEMENT UUDT_RESPONSE_ADDRESSES (UUDT_ADDRESS+)>
      <!ELEMENT UUDT_ADDRESS (#PCDATA)>

  <!ELEMENT NETWORK_LAYER (DELTA_P2, GATEWAY?, SUB_NODE?, MAX_MSG_SIZE+) >
    <!ELEMENT DELTA_P2 (#PCDATA)>

    <!ELEMENT GATEWAY (#PCDATA) >

    <!ELEMENT SUB_NODE (#PCDATA)>

    <!ELEMENT MAX_MSG_SIZE (#PCDATA)>
      <!ATTLIST MAX_MSG_SIZE ID ID #IMPLIED 
                             SESSION_REFS IDREFS #REQUIRED>


  <!ELEMENT APPLICATION_LAYER (APPLICATION_LAYER_TIMING_PARAMETERS,
                               NEGATIVE_RESPONSE_CODES_SUPPORTED,
                               SESSIONS_SUPPORTED,
                               SECURITY_LEVELS_SUPPORTED,
                               SERVICES_SUPPORTED) >

    <!ELEMENT APPLICATION_LAYER_TIMING_PARAMETERS (P2_MAX+, P2_STAR_MAX+, S3_SERVER_TIMEOUT+) >
      <!ELEMENT P2_MAX (#PCDATA)>
        <!ATTLIST P2_MAX SESSION_REFS IDREFS #REQUIRED>

      <!ELEMENT P2_STAR_MAX (#PCDATA)>
        <!ATTLIST P2_STAR_MAX SESSION_REFS IDREFS #REQUIRED>

      <!ELEMENT S3_SERVER_TIMEOUT (#PCDATA)>
        <!ATTLIST S3_SERVER_TIMEOUT SESSION_REFS IDREFS #REQUIRED>

    <!ELEMENT NEGATIVE_RESPONSE_CODES_SUPPORTED (NEGATIVE_RESPONSE_CODE+) >

       <!ELEMENT NEGATIVE_RESPONSE_CODE  (NAME, NUMBER, DESCRIPTION?) >
         <!ATTLIST NEGATIVE_RESPONSE_CODE ID ID #REQUIRED>

    <!ELEMENT SESSIONS_SUPPORTED (SESSION+)>
      <!ELEMENT SESSION (NAME, NUMBER, DESCRIPTION?,
                         ENTRY_CONDITIONS?, EXIT_CONDITIONS?)>
        <!ATTLIST SESSION ID ID #REQUIRED>
       
    <!ELEMENT SECURITY_LEVELS_SUPPORTED (SECURITY_LEVEL*)>

        <!ELEMENT SECURITY_LEVEL (NAME, REQUEST_SEED_SF, SEND_KEY_SF, DESCRIPTION?,
                                  ENTRY_CONDITIONS?, EXIT_CONDITIONS?)>
            <!ATTLIST SECURITY_LEVEL ID ID #REQUIRED>

            <!ELEMENT REQUEST_SEED_SF EMPTY>
              <!ATTLIST REQUEST_SEED_SF SEED_REF IDREF #REQUIRED>
            <!ELEMENT SEND_KEY_SF EMPTY>
              <!ATTLIST SEND_KEY_SF SEED_REF IDREF #REQUIRED>
       
    <!ELEMENT SERVICES_SUPPORTED (SERVICE+) >
       <!ELEMENT SERVICE  (NAME, NUMBER, DESCRIPTION?, 
                           ENTRY_CONDITIONS?, EXIT_CONDITIONS?,
                           PHYSICAL_ADDRESSING_SUPPORTED, 
                           FUNCTIONAL_ADDRESSING_SUPPORTED, 
                           SUBFUNCTIONS_SUPPORTED?, P4_MAX*,
                            
                           ((SERVICE_14_SPECIFIC_PARAMETERS+) |
                            (SERVICE_22_SPECIFIC_PARAMETERS+) |
                            (SERVICE_23_SPECIFIC_PARAMETERS+) |
                            (SERVICE_2A_SPECIFIC_PARAMETERS+) |
                            (SERVICE_2C_SPECIFIC_PARAMETERS+) |
                            (SERVICE_2F_SPECIFIC_PARAMETERS+) |
                            (SERVICE_34_SPECIFIC_PARAMETERS+) |
                            (SERVICE_35_SPECIFIC_PARAMETERS+) |
                            (SERVICE_3D_SPECIFIC_PARAMETERS+))?,
                            
                           NEGATIVE_RESPONSE_CODES?)>

         <!ATTLIST SERVICE ID ID #REQUIRED
                           SESSION_REFS IDREFS #REQUIRED
                           SECURITY_REFS IDREFS #IMPLIED>
         
         <!ELEMENT PHYSICAL_ADDRESSING_SUPPORTED (#PCDATA)>  <!-- yes / no -->
           <!ATTLIST PHYSICAL_ADDRESSING_SUPPORTED SESSION_REFS IDREFS #IMPLIED>  <!-- SESSION_REFS inherited from SERVICE element -->

         <!ELEMENT FUNCTIONAL_ADDRESSING_SUPPORTED (#PCDATA)>  <!-- yes / no -->
           <!ATTLIST FUNCTIONAL_ADDRESSING_SUPPORTED SESSION_REFS IDREFS #IMPLIED>  <!-- SESSION_REFS inherited from SERVICE element -->

         <!ELEMENT SUBFUNCTIONS_SUPPORTED (SPR_SUPPORTED, SUBFUNCTION_PARAMETER+)>

            <!ELEMENT SPR_SUPPORTED (#PCDATA)>  <!-- yes / no -->
              <!ATTLIST SPR_SUPPORTED SESSION_REFS IDREFS #IMPLIED>  <!-- SESSION_REFS inherited from SERVICE element -->

            <!ELEMENT SUBFUNCTION_PARAMETER ((NAME, NUMBER)?, DESCRIPTION?)>

                                                                    <!-- SESSION_REFS inherited from SERVICE element -->
              <!ATTLIST SUBFUNCTION_PARAMETER ID ID #REQUIRED 
                                              SESSION_REFS IDREFS #IMPLIED
                                              SECURITY_REFS IDREFS #IMPLIED
                                              PARAM_REF IDREF #IMPLIED>

         <!ELEMENT P4_MAX (#PCDATA)>
            <!ATTLIST P4_MAX ID ID #IMPLIED SESSION_REFS IDREFS #IMPLIED>  <!-- SESSION_REFS inherited from SERVICE element -->

         <!ELEMENT SERVICE_14_SPECIFIC_PARAMETERS (GROUP_OF_DTC_SUPPORTED+) >
               <!ATTLIST SERVICE_14_SPECIFIC_PARAMETERS ID ID #IMPLIED SESSION_REFS IDREFS #IMPLIED>  <!-- SESSION_REFS inherited from SERVICE element -->

         <!ELEMENT SERVICE_22_SPECIFIC_PARAMETERS (MAX_ELEMENTS_IN_REQUEST) >
               <!ATTLIST SERVICE_22_SPECIFIC_PARAMETERS ID ID #IMPLIED SESSION_REFS IDREFS #IMPLIED>  <!-- SESSION_REFS inherited from SERVICE element -->

         <!ELEMENT SERVICE_23_SPECIFIC_PARAMETERS (MEMORY_ADDRESS_PARAMETER_LENGTH+,
                                                   MEMORY_SIZE_PARAMETER_LENGTH+, 
                                                   MEMORY_SIZE_PARAMETER+) >
               <!ATTLIST SERVICE_23_SPECIFIC_PARAMETERS ID ID #IMPLIED SESSION_REFS IDREFS #IMPLIED>  <!-- SESSION_REFS inherited from SERVICE element -->

         <!ELEMENT SERVICE_2A_SPECIFIC_PARAMETERS (TRANSMISSION_MODE_SUPPORTED+,
                                                   MAX_ELEMENTS_IN_REQUEST,
                                                   MAX_ACTIVE_PERIODIC_IDS,
                                                   UNAVAILABLE_FUNCTIONALITY?) >
              <!ATTLIST SERVICE_2A_SPECIFIC_PARAMETERS ID ID #IMPLIED SESSION_REFS IDREFS #IMPLIED>  <!-- SESSION_REFS inherited from SERVICE element -->

         <!ELEMENT SERVICE_2C_SPECIFIC_PARAMETERS (MAX_ELEMENTS_IN_REQUEST, 
                                                   MAX_PERIODIC_ID_SIZE,
                                                   MAX_PERIODIC_IDS_SUPPORTED,
                                                   MEMORY_ADDRESS_PARAMETER_LENGTH*,
                                                   MEMORY_SIZE_PARAMETER_LENGTH*, 
                                                   MEMORY_SIZE_PARAMETER*) >
               <!ATTLIST SERVICE_2C_SPECIFIC_PARAMETERS ID ID #IMPLIED SESSION_REFS IDREFS #IMPLIED>  <!-- SESSION_REFS inherited from SERVICE element -->

         <!ELEMENT SERVICE_2F_SPECIFIC_PARAMETERS (IO_CONTROL_PARAMETER+) >
               <!ATTLIST SERVICE_2F_SPECIFIC_PARAMETERS ID ID #IMPLIED SESSION_REFS IDREFS #IMPLIED>  <!-- SESSION_REFS inherited from SERVICE element -->

         <!ELEMENT SERVICE_34_SPECIFIC_PARAMETERS (DATA_FORMAT_IDENTIFIERS_SUPPORTED+,
                                                   MEMORY_ADDRESS_PARAMETER_LENGTH, MEMORY_SIZE_PARAMETER_LENGTH) >
               <!ATTLIST SERVICE_34_SPECIFIC_PARAMETERS ID ID #IMPLIED SESSION_REFS IDREFS #IMPLIED>  <!-- SESSION_REFS inherited from SERVICE element -->

         <!ELEMENT SERVICE_35_SPECIFIC_PARAMETERS (DATA_FORMAT_IDENTIFIERS_SUPPORTED+,
                                                   MEMORY_ADDRESS_PARAMETER_LENGTH, MEMORY_SIZE_PARAMETER_LENGTH) >
               <!ATTLIST SERVICE_35_SPECIFIC_PARAMETERS ID ID #IMPLIED SESSION_REFS IDREFS #IMPLIED>  <!-- SESSION_REFS inherited from SERVICE element -->

         <!ELEMENT SERVICE_3D_SPECIFIC_PARAMETERS (MEMORY_ADDRESS_PARAMETER_LENGTH+,
                                                   MEMORY_SIZE_PARAMETER_LENGTH+, 
                                                   MEMORY_SIZE_PARAMETER+) >               <!ATTLIST SERVICE_3D_SPECIFIC_PARAMETERS ID ID #IMPLIED SESSION_REFS IDREFS #IMPLIED>  <!-- SESSION_REFS inherited from SERVICE element -->




            <!ELEMENT MAX_ELEMENTS_IN_REQUEST (#PCDATA)>    <!-- For service 0x22 this is max DIDs in request, for
                                                                 service 0x2C it is max DID/memory address used in a
                                                                 single request -->

            <!ELEMENT MAX_PERIODIC_ID_SIZE (#PCDATA)>

            <!ELEMENT MAX_PERIODIC_IDS_SUPPORTED (#PCDATA)>

            <!ELEMENT IO_CONTROL_PARAMETER  (NAME, NUMBER, DESCRIPTION?)>
              <!ATTLIST IO_CONTROL_PARAMETER  ID ID #REQUIRED>

            <!ELEMENT GROUP_OF_DTC_SUPPORTED (#PCDATA)>

            <!ELEMENT DATA_FORMAT_IDENTIFIERS_SUPPORTED (DATA_FORMAT_IDENTIFIER+)>
              <!ELEMENT DATA_FORMAT_IDENTIFIER (NAME, NUMBER, DESCRIPTION?)>

            <!ELEMENT TRANSMISSION_MODE_SUPPORTED (NAME, NUMBER, TRANSMISSION_RATE?, DESCRIPTION?)>
            <!ELEMENT MAX_ACTIVE_PERIODIC_IDS (#PCDATA)>
            <!ELEMENT UNAVAILABLE_FUNCTIONALITY (#PCDATA)>

               <!ELEMENT TRANSMISSION_RATE (#PCDATA)>


            <!ELEMENT MEMORY_SIZE_PARAMETER_LENGTH (#PCDATA)>
            <!ELEMENT MEMORY_ADDRESS_PARAMETER_LENGTH (#PCDATA)>

            <!ELEMENT MEMORY_SIZE_PARAMETER ( MIN_MEMORY_SIZE_PARAMETER, MAX_MEMORY_SIZE_PARAMETER)>

              <!ELEMENT MIN_MEMORY_SIZE_PARAMETER (#PCDATA)>
              <!ELEMENT MAX_MEMORY_SIZE_PARAMETER (#PCDATA)>

         <!ELEMENT NEGATIVE_RESPONSE_CODES (NRC+)>
           <!ELEMENT NRC (#PCDATA)>
             <!ATTLIST NRC ID ID #IMPLIED NRC_REF IDREF #REQUIRED>

          

<!-- *******************************************************************
     The ECU_DATA element contains diagnostic information, such as
     PIDs/DIDs, DTCs, Routines, etc., that this ECU supports.
     *******************************************************************
-->

<!ELEMENT ECU_DATA (DATA_IDENTIFIERS, DIAGNOSTIC_TROUBLE_CODES, ROUTINE_IDENTIFIERS, 
                    MEMORY_AREAS?, CONFIGURATION_DATA?, SECURITY_DATA?)>
   <!ELEMENT DATA_IDENTIFIERS (DID+)>

     <!ELEMENT DID (NAME, SHORTNAME?, NUMBER, DESCRIPTION?, BYTE_SIZE?, DID_TYPE, ACCESS_PARAMETERS, 
                    SUB_FIELD*)>
       <!ATTLIST DID ID ID #REQUIRED>

     <!ELEMENT DID_TYPE (#PCDATA)>  <!-- *** single_value, packeted, bitmapped, dynamic -->



    <!ELEMENT DIAGNOSTIC_TROUBLE_CODES (DTC_STATUS_BITS_SUPPORTED, DTC_FAILURE_TYPES_SUPPORTED, 
                                        DTC_SNAPSHOT_SUPPORTED?, DTC_NUMBER_FREEZE_FRAMES_SUPPORTED?,
                                        DTC_EXTENDED_DATA_RECORDS_SUPPORTED?, 
                                        DTC*) >
      <!ELEMENT DTC_STATUS_BITS_SUPPORTED (DTC_STATUS_BIT*)>
        <!ELEMENT DTC_STATUS_BIT ( NAME, NUMBER, DESCRIPTION?)>
          <!ATTLIST DTC_STATUS_BIT ID ID #IMPLIED>

      <!ELEMENT DTC_FAILURE_TYPES_SUPPORTED (DTC_FAILURE_TYPE+)>
        <!ELEMENT DTC_FAILURE_TYPE (NUMBER, DESCRIPTION)>
          <!ATTLIST DTC_FAILURE_TYPE ID ID #REQUIRED>

      <!ELEMENT DTC_SNAPSHOT_SUPPORTED (DTC_SNAPSHOT_RECORD+)>
        <!ELEMENT DTC_SNAPSHOT_RECORD (NUMBER, DESCRIPTION)>
          <!ATTLIST DTC_SNAPSHOT_RECORD ID ID #REQUIRED>

      <!ELEMENT DTC_NUMBER_FREEZE_FRAMES_SUPPORTED (#PCDATA)>

      <!ELEMENT DTC_EXTENDED_DATA_RECORDS_SUPPORTED (DTC_EXTENDED_DATA_RECORD+) >
        <!ELEMENT DTC_EXTENDED_DATA_RECORD (NAME?, SHORTNAME?, NUMBER, DESCRIPTION?, BYTE_SIZE, SUB_FIELD+)>
          <!ATTLIST DTC_EXTENDED_DATA_RECORD ID ID #REQUIRED>


      <!ELEMENT DTC (NUMBER, DESCRIPTION, DTC_FAILURE_INFO+)>
        <!ATTLIST DTC ID ID #IMPLIED>

        <!ELEMENT DTC_FAILURE_INFO (DTC_FTB, DTC_CONTINUOUS_MONITORING_SUPPORTED, 
                                    DTC_CONTINUOUS_PARAMETERS?, DTC_ROUTINE_MONITORING_SUPPORTED, 
                                    ECU_CONNECTOR_PIN? )>
          <!ATTLIST DTC_FAILURE_INFO ID ID #IMPLIED>


          <!ELEMENT DTC_FTB EMPTY>
            <!ATTLIST DTC_FTB FAILURE_REF IDREF #REQUIRED>

          <!ELEMENT DTC_CONTINUOUS_MONITORING_SUPPORTED (#PCDATA)>

          <!ELEMENT DTC_CONTINUOUS_PARAMETERS (DTC_MONITORING_CYCLE,
                                               TEST_RUN_CRITERIA, TEST_PERIOD, AGING_COUNTER?, AGED_COUNT?, 
                                               FDC_INC_VALUE?, FDC_DEC_VALUE?, FDC_PASS_FAIL_CRITERIA?, 
                                               ECU_FAULT_ACTION?, FAULT_SYMPTOM?, SNAPSHOT_PARAMETERS?,
                                               FREEZE_FRAME_RECORD_DATA?,
                                               EXTENDED_DATA_PARAMETERS?,
                                               SPECIAL_CONSIDERATIONS?)>
            <!ELEMENT DTC_MONITORING_CYCLE (#PCDATA)>
            <!ELEMENT TEST_RUN_CRITERIA (#PCDATA)>
            <!ELEMENT TEST_PERIOD (#PCDATA)>

            <!ELEMENT AGING_COUNTER EMPTY >
              <!ATTLIST AGING_COUNTER EDR_REF IDREF #REQUIRED>

            <!ELEMENT AGED_COUNT (#PCDATA)>
            <!ELEMENT FDC_INC_VALUE (#PCDATA)>
            <!ELEMENT FDC_DEC_VALUE (#PCDATA)>
            <!ELEMENT FDC_PASS_FAIL_CRITERIA (#PCDATA)>
            <!ELEMENT ECU_FAULT_ACTION (#PCDATA)>
            <!ELEMENT FAULT_SYMPTOM (#PCDATA)>

            <!ELEMENT SNAPSHOT_PARAMETERS (SNAPSHOT_RECORD_DATA+) >
              <!ELEMENT SNAPSHOT_RECORD_DATA (DIDS_SUPPORTED_BY_SNAPSHOT, 
                                              SAMPLES_SNAPSHOT_DATA_PER_RECORD,
                                              DESCRIPTION?) >
                <!ATTLIST SNAPSHOT_RECORD_DATA ID ID #IMPLIED  SNAPSHOT_REF IDREF #REQUIRED>

                <!ELEMENT DIDS_SUPPORTED_BY_SNAPSHOT EMPTY>
                  <!ATTLIST DIDS_SUPPORTED_BY_SNAPSHOT DID_REFS IDREFS #REQUIRED>

                <!ELEMENT SAMPLES_SNAPSHOT_DATA_PER_RECORD (#PCDATA)>

              <!ELEMENT FREEZE_FRAME_RECORD_DATA (DIDS_SUPPORTED_BY_FREEZE_FRAME, DESCRIPTION?) >
                <!ATTLIST FREEZE_FRAME_RECORD_DATA ID ID #IMPLIED>

                <!ELEMENT DIDS_SUPPORTED_BY_FREEZE_FRAME EMPTY>
                  <!ATTLIST DIDS_SUPPORTED_BY_FREEZE_FRAME DID_REFS IDREFS #REQUIRED>

            <!ELEMENT EXTENDED_DATA_PARAMETERS EMPTY >
                <!ATTLIST EXTENDED_DATA_PARAMETERS EDR_REFS IDREFS #REQUIRED>


          <!ELEMENT DTC_ROUTINE_MONITORING_SUPPORTED (#PCDATA)>
            <!ATTLIST DTC_ROUTINE_MONITORING_SUPPORTED ROUTINE_REFS IDREFS #IMPLIED>

          <!ELEMENT ECU_CONNECTOR_PIN (#PCDATA)>

    <!ELEMENT ROUTINE_IDENTIFIERS (ROUTINE*)>

      <!ELEMENT ROUTINE (NAME, SHORTNAME?, NUMBER, DESCRIPTION?,
                         MAX_ROUTINE_RUN_TIME, RESTART_WHILE_RUNNING,
                         ENTRY_CONDITIONS?, EXIT_CONDITIONS?, 
                         ROUTINE_START_PARAMETERS?, 
                         ROUTINE_STOP_PARAMETERS?, 
                         ROUTINE_REQUEST_RESULTS_PARAMETERS?) >

        <!ATTLIST ROUTINE ID ID #REQUIRED
                          SESSION_REFS IDREFS #REQUIRED
                          SECURITY_REFS IDREFS #IMPLIED>

        <!ELEMENT MAX_ROUTINE_RUN_TIME (#PCDATA) >
        <!ELEMENT RESTART_WHILE_RUNNING (#PCDATA) >

        <!ELEMENT ROUTINE_START_PARAMETERS (ROUTINE_REQUEST_PARAMETERS?, 
                                            ROUTINE_RESPONSE_PARAMETERS?) >
          <!ATTLIST ROUTINE_START_PARAMETERS ID ID #IMPLIED >

        <!ELEMENT ROUTINE_STOP_PARAMETERS  (ROUTINE_REQUEST_PARAMETERS?, 
                                            ROUTINE_RESPONSE_PARAMETERS?) >
          <!ATTLIST ROUTINE_STOP_PARAMETERS ID ID #IMPLIED >

        <!ELEMENT ROUTINE_REQUEST_RESULTS_PARAMETERS (ROUTINE_RESPONSE_PARAMETERS?) >
          <!ATTLIST ROUTINE_REQUEST_RESULTS_PARAMETERS ID ID #IMPLIED >

          <!ELEMENT ROUTINE_REQUEST_PARAMETERS  (ROUTINE_PARAM*) >
            <!ATTLIST ROUTINE_REQUEST_PARAMETERS ID ID #IMPLIED >

          <!ELEMENT ROUTINE_RESPONSE_PARAMETERS (ROUTINE_PARAM*) >
            <!ATTLIST ROUTINE_RESPONSE_PARAMETERS ID ID #IMPLIED >

            <!ELEMENT ROUTINE_PARAM (NAME?, SHORTNAME?, DESCRIPTION?, BYTE_SIZE, SUB_FIELD*, SEQUENCE_OF?) >
               <!ATTLIST ROUTINE_PARAM ID ID #IMPLIED>

           <!ELEMENT SEQUENCE_OF ( SEQUENCE_MIN?, SEQUENCE_MAX?, SUB_FIELD+) >
              <!ATTLIST SEQUENCE_OF ID ID #IMPLIED>
              <!ELEMENT SEQUENCE_MIN (#PCDATA)>
              <!ELEMENT SEQUENCE_MAX (#PCDATA)>

    <!ELEMENT MEMORY_AREAS (MEMORY_AREA+) >
      <!ELEMENT MEMORY_AREA (NAME?, SHORTNAME?, DESCRIPTION?, START_ADDRESS, BYTE_SIZE, 
                             ACCESS_PARAMETERS, MEMORY_PARAM*)>
        <!ATTLIST MEMORY_AREA ID ID #IMPLIED>

        <!ELEMENT START_ADDRESS (#PCDATA) >

        <!ELEMENT MEMORY_PARAM (NAME?, SHORTNAME?, DESCRIPTION?, BYTE_OFFSET, BYTE_SIZE, MEMORY_ARCHITECTURE?,
                                SUB_FIELD+) >
          <!ATTLIST MEMORY_PARAM ID ID #IMPLIED>

          <!ELEMENT BYTE_OFFSET (#PCDATA) >
          <!ELEMENT MEMORY_ARCHITECTURE (#PCDATA) >

    <!ELEMENT CONFIGURATION_DATA ANY>

    <!ELEMENT SECURITY_DATA (FIXED_BYTES*, FALSE_ACCESS_DATA*)>

      <!ELEMENT FIXED_BYTES (FIXED_BYTE, FIXED_BYTE, FIXED_BYTE, FIXED_BYTE, FIXED_BYTE)>
        <!ATTLIST FIXED_BYTES ID ID #IMPLIED  SECURITY_REFS IDREF #REQUIRED>

      <!ELEMENT FIXED_BYTE (#PCDATA)>

      <!ELEMENT FALSE_ACCESS_DATA (FALSE_ACCESS_ATTEMPTS, FALSE_ACCESS_DELAY)>
        <!ATTLIST FALSE_ACCESS_DATA ID ID #IMPLIED  SECURITY_REFS IDREF #REQUIRED>

      <!ELEMENT FALSE_ACCESS_ATTEMPTS (#PCDATA)>
      <!ELEMENT FALSE_ACCESS_DELAY (#PCDATA)>


<!-- *******************************************************************
     The SPECIAL_PROCEDURES element contains the processes for 
     procedures/service functions, such as brake bleed, ride-height 
     calibration, etc.
     *******************************************************************
-->

<!ELEMENT SPECIAL_PROCEDURES (PROCEDURE*)>

  <!ELEMENT PROCEDURE (NAME, DESCRIPTION?, REQUIRED_FOR_SERVICE, REQUIRED_FOR_EOL,
                       FILE_REFERENCE?, PROCEDURE_STEP*) >
    <!ATTLIST PROCEDURE ID ID #IMPLIED>

    <!ELEMENT REQUIRED_FOR_SERVICE (#PCDATA)> 
    <!ELEMENT REQUIRED_FOR_EOL (#PCDATA)>

    <!ELEMENT FILE_REFERENCE (#PCDATA)>
      <!ATTLIST FILE_REFERENCE xlink:type CDATA  #FIXED "simple"
                               xlink:href CDATA #REQUIRED>

    <!ELEMENT PROCEDURE_STEP (NAME?, NUMBER, DESCRIPTION) >
      <!ATTLIST PROCEDURE_STEP ID ID #IMPLIED>



<!-- *******************************************************************
     The DEVIATIONS element contains lists of deviations.  
     *******************************************************************
-->
<!ELEMENT DEVIATIONS (DEVIATION*)>
  <!ELEMENT DEVIATION (DEVIATION_NUMBER, DATE?, DEV_STATUS?, DATE_APPROVED?, DESCRIPTION, COMMENT?) >
    <!ATTLIST DEVIATION ID ID #IMPLIED>

  <!ELEMENT DEVIATION_NUMBER (#PCDATA) >  

  <!ELEMENT DEV_STATUS (#PCDATA) >

  <!ELEMENT DATE_APPROVED (YEAR, MONTH, DAY)>



<!-- *******************************************************************
     The VARIANT element contains variant definitions for all elements
     in the main ECU definition above.  With this it is possible for a
     variant to replace/modify/delete all elements from the main ECU
     definition.  
     *******************************************************************
-->
<!ELEMENT VARIANT (NAME, VARIANT_ADMINISTRATION?, VARIANT_PROTOCOL?,
                   VARIANT_ECU_DATA?, VARIANT_SPECIAL_PROCEDURES?, VARIANT_DEVIATIONS?)>
  <!ATTLIST VARIANT ID ID #REQUIRED>

<!-- **********************************************
     Variants on Common/re-used element definitions 
     **********************************************
 -->

<!ELEMENT VARIANT_NAME (#PCDATA)>
<!ATTLIST VARIANT_NAME CHANGE_TYPE (add | replace | delete) "replace">

<!ELEMENT VARIANT_NUMBER (#PCDATA)>
<!ATTLIST VARIANT_NUMBER CHANGE_TYPE (add | replace | delete) "replace">

<!ELEMENT VARIANT_SHORTNAME (#PCDATA)>
<!ATTLIST VARIANT_SHORTNAME CHANGE_TYPE (add | replace | delete) "replace">

<!ELEMENT VARIANT_DESCRIPTION (#PCDATA)>
<!ATTLIST VARIANT_DESCRIPTION CHANGE_TYPE (add | replace | delete) "replace">

<!ELEMENT VARIANT_JUSTIFICATION (#PCDATA)>
<!ATTLIST VARIANT_JUSTIFICATION CHANGE_TYPE (add | replace | delete) "replace">

<!ELEMENT VARIANT_TABLE (NAME, FIELD+)>
<!ATTLIST VARIANT_TABLE ID ID #IMPLIED CHANGE_TYPE (add | replace | delete) "replace">

<!ELEMENT VARIANT_FIELD (NAME, DESCRIPTION?, FIELD_VALUE?, FIELD*) >
<!ATTLIST VARIANT_FIELD ID ID #IMPLIED CHANGE_TYPE (add | replace | delete) "replace">

<!ELEMENT VARIANT_FIELD_VALUE (#PCDATA)>
<!ATTLIST VARIANT_FIELD_VALUE CHANGE_TYPE (add | replace | delete) "replace">


<!--*** If the  NUMERIC_RANGES or UNCONTROLLABLE_ENUM_VALUES element            ***
    *** is changed then that entire element must be replaced.                   *** -->                 
<!ELEMENT VARIANT_SUB_FIELD (VARIANT_NAME?, VARIANT_SHORTNAME?, VARIANT_DESCRIPTION?, 
                             VARIANT_LEAST_SIG_BIT?, VARIANT_MOST_SIG_BIT?,
                             (VARIANT_DATA_DEFINITION, 
                                   (NUMERIC_RANGES | UNCONTROLLABLE_ENUM_VALUES)? )* )>

<!ATTLIST VARIANT_SUB_FIELD ID ID #IMPLIED
                            CHANGE_TYPE (add | replace | delete) "replace"
                            CHANGE_REF IDREF #IMPLIED>


<!ELEMENT VARIANT_DATA_DEFINITION (VARIANT_DATA_TYPE?, VARIANT_DESCRIPTION?, 
                                  (VARIANT_NUMERIC_PARAMETERS | VARIANT_ENUMERATED_PARAMETERS | 
                                   VARIANT_ASCII_PARAMETERS | VARIANT_BCD_PARAMETERS)?) >

<!ATTLIST VARIANT_DATA_DEFINITION ID ID #IMPLIED
                                  CHANGE_TYPE (add | replace | delete) "replace"
                                  CHANGE_REF IDREF #IMPLIED>

<!ELEMENT VARIANT_DATA_TYPE (#PCDATA)> <!-- *** DTC, unsigned, signed, float, enumerated, ascii, bcd, bytes -->
<!ATTLIST VARIANT_DATA_TYPE CHANGE_TYPE (add | replace | delete) "replace">

<!ELEMENT VARIANT_LEAST_SIG_BIT (#PCDATA)>
<!ATTLIST VARIANT_LEAST_SIG_BIT CHANGE_TYPE (add | replace | delete) "replace">

<!ELEMENT VARIANT_MOST_SIG_BIT (#PCDATA)>
<!ATTLIST VARIANT_MOST_SIG_BIT CHANGE_TYPE (add | replace | delete) "replace">


<!ELEMENT VARIANT_BYTE_SIZE (#PCDATA)>
<!ATTLIST VARIANT_BYTE_SIZE CHANGE_TYPE (add | replace | delete) "replace">



<!ELEMENT VARIANT_NUMERIC_PARAMETERS (VARIANT_RESOLUTION?, VARIANT_OFFSET?, VARIANT_UNITS?, 
                                      (VARIANT_RANGE_LOW, VARIANT_RANGE_HIGH )?)>
<!ATTLIST VARIANT_NUMERIC_PARAMETERS CHANGE_TYPE (add | replace | delete) "replace">


<!ELEMENT VARIANT_RESOLUTION (#PCDATA)>
<!ATTLIST VARIANT_RESOLUTION CHANGE_TYPE (add | replace | delete) "replace">

<!ELEMENT VARIANT_OFFSET (#PCDATA)>
<!ATTLIST VARIANT_OFFSET CHANGE_TYPE (add | replace | delete) "replace">

<!ELEMENT VARIANT_UNITS (#PCDATA)>
<!ATTLIST VARIANT_UNITS CHANGE_TYPE (add | replace | delete) "replace">

<!ELEMENT VARIANT_RANGE_LOW (#PCDATA)>
<!ATTLIST VARIANT_RANGE_LOW CHANGE_TYPE (add | replace | delete) "replace">

<!ELEMENT VARIANT_RANGE_HIGH (#PCDATA)>
<!ATTLIST VARIANT_RANGE_HIGH CHANGE_TYPE (add | replace | delete) "replace">


<!ELEMENT VARIANT_ENUMERATED_PARAMETERS (VARIANT_ENUM_MEMBER*)>
<!ATTLIST VARIANT_ENUMERATED_PARAMETERS CHANGE_TYPE (add | replace | delete) "replace">

<!ELEMENT VARIANT_ENUM_MEMBER (VARIANT_ENUM_VALUE?, VARIANT_DESCRIPTION?)>
<!ATTLIST VARIANT_ENUM_MEMBER ID ID #IMPLIED CHANGE_TYPE (add | replace | delete) "replace">


<!ELEMENT VARIANT_ENUM_VALUE (#PCDATA)>
<!ATTLIST VARIANT_ENUM_VALUE CHANGE_TYPE (add | replace | delete) "replace">

<!ELEMENT VARIANT_ASCII_PARAMETERS (VARIANT_JUSTIFICATION?, VARIANT_ASCII_FILL_VALUE?) >
<!ATTLIST VARIANT_ASCII_PARAMETERS CHANGE_TYPE (add | replace | delete) "replace">

<!ELEMENT VARIANT_ASCII_FILL_VALUE (#PCDATA)>
<!ATTLIST VARIANT_ASCII_FILL_VALUE CHANGE_TYPE (add | replace | delete) "replace">



<!ELEMENT VARIANT_BCD_PARAMETERS (VARIANT_JUSTIFICATION?, VARIANT_BCD_FILL_VALUE?) >
<!ATTLIST VARIANT_BCD_PARAMETERS CHANGE_TYPE (add | replace | delete) "replace">

<!ELEMENT VARIANT_BCD_FILL_VALUE (#PCDATA)>
<!ATTLIST VARIANT_BCD_FILL_VALUE CHANGE_TYPE (add | replace | delete) "replace">


<!ELEMENT VARIANT_ACCESS_PARAMETERS (VARIANT_READABLE?, VARIANT_WRITEABLE?, 
                                     VARIANT_PERIODIC?, VARIANT_CONTROLLABLE*, 
                                     VARIANT_SCALABLE?, VARIANT_DOWNLOADABLE?, VARIANT_UPLOADABLE?) >
<!ATTLIST VARIANT_ACCESS_PARAMETERS CHANGE_TYPE (add | replace | delete) "replace">


<!ELEMENT VARIANT_DATE (VARIANT_YEAR?, VARIANT_MONTH?, VARIANT_DAY?)>
<!ATTLIST VARIANT_DATE CHANGE_TYPE (add | replace | delete) "replace">

<!ELEMENT VARIANT_YEAR (#PCDATA)>
<!ATTLIST VARIANT_YEAR CHANGE_TYPE (add | replace | delete) "replace">

<!ELEMENT VARIANT_MONTH (#PCDATA)>
<!ATTLIST VARIANT_MONTH CHANGE_TYPE (add | replace | delete) "replace">

<!ELEMENT VARIANT_DAY (#PCDATA)>
<!ATTLIST VARIANT_DAY CHANGE_TYPE (add | replace | delete) "replace">


<!ELEMENT VARIANT_COMMENT (#PCDATA)>
<!ATTLIST VARIANT_COMMENT CHANGE_TYPE (add | replace | delete) "replace">


<!ELEMENT VARIANT_ENTRY_CONDITIONS (#PCDATA)>
<!ATTLIST VARIANT_ENTRY_CONDITIONS CHANGE_TYPE (add | replace | delete) "replace">

<!ELEMENT VARIANT_EXIT_CONDITIONS (#PCDATA)>
<!ATTLIST VARIANT_EXIT_CONDITIONS CHANGE_TYPE (add | replace | delete) "replace">


<!ELEMENT VARIANT_SPECIAL_CONSIDERATIONS (#PCDATA)>
<!ATTLIST VARIANT_SPECIAL_CONSIDERATIONS CHANGE_TYPE (add | replace | delete) "replace">


<!ELEMENT VARIANT_READABLE EMPTY>

<!ATTLIST VARIANT_READABLE SERVICE_REFS IDREFS #IMPLIED
                           SESSION_REFS IDREFS #IMPLIED
                           SECURITY_REFS IDREFS #IMPLIED
                           CHANGE_TYPE (add | replace | delete) "replace">


<!ELEMENT VARIANT_WRITEABLE EMPTY>
<!ATTLIST VARIANT_WRITEABLE SERVICE_REFS IDREFS #IMPLIED
                            SESSION_REFS IDREFS #IMPLIED
                            SECURITY_REFS IDREFS #IMPLIED
                            CHANGE_TYPE (add | replace | delete) "replace">

<!ELEMENT VARIANT_PERIODIC EMPTY>
<!ATTLIST VARIANT_PERIODIC SERVICE_REFS IDREFS #IMPLIED
                           SESSION_REFS IDREFS #IMPLIED
                           SECURITY_REFS IDREFS #IMPLIED
                           CHANGE_TYPE (add | replace | delete) "replace">
<!ELEMENT VARIANT_SCALABLE EMPTY>
<!ATTLIST VARIANT_SCALABLE SERVICE_REFS IDREFS #IMPLIED
                           SESSION_REFS IDREFS #IMPLIED
                           CHANGE_TYPE (add | replace | delete) "replace">

<!ELEMENT VARIANT_CONTROLLABLE (VARIANT_ENTRY_CONDITIONS?, VARIANT_EXIT_CONDITIONS?)>
<!ATTLIST VARIANT_CONTROLLABLE SERVICE_REFS IDREFS #IMPLIED
                               SESSION_REFS IDREFS #IMPLIED
                               SECURITY_REFS IDREFS #IMPLIED
                               IOCP_REFS IDREFS #IMPLIED
                               SUB_FIELD_REFS IDREFS #IMPLIED
                               CHANGE_TYPE (add | replace | delete) "replace">


<!ELEMENT VARIANT_DOWNLOADABLE EMPTY>
<!ATTLIST VARIANT_DOWNLOADABLE SERVICE_REFS IDREFS #IMPLIED
                               SESSION_REFS IDREFS #IMPLIED
                               SECURITY_REFS IDREFS #IMPLIED
                               CHANGE_TYPE (add | replace | delete) "replace">


<!ELEMENT VARIANT_UPLOADABLE EMPTY>
<!ATTLIST VARIANT_UPLOADABLE SERVICE_REFS IDREFS #IMPLIED
                             SESSION_REFS IDREFS #IMPLIED
                             SECURITY_REFS IDREFS #IMPLIED
                             CHANGE_TYPE (add | replace | delete) "replace">




<!ELEMENT VARIANT_ADMINISTRATION (VARIANT_ECU_NAME?, VARIANT_SHORTNAME?, VARIANT_SSDS_INFORMATION?,
                                  VARIANT_SPECIFICATION_DOCUMENTS?, (VARIANT_TABLE | VARIANT_FIELD)*)>
<!ATTLIST VARIANT_ADMINISTRATION CHANGE_TYPE CDATA #FIXED "replace">

  <!ELEMENT VARIANT_ECU_NAME (#PCDATA)>
  <!ATTLIST VARIANT_ECU_NAME CHANGE_TYPE CDATA #FIXED "replace">

  <!ELEMENT VARIANT_SSDS_INFORMATION (VARIANT_SSDS_PART_NUMBER, VARIANT_SSDS_NOTICE_NUMBER?, 
                                      VARIANT_ECU_SOFTWARE_AFFECTED?)>
  <!ATTLIST VARIANT_SSDS_INFORMATION CHANGE_TYPE (add | replace | delete) "replace">

        <!ELEMENT VARIANT_SSDS_PART_NUMBER (#PCDATA)>
        <!ATTLIST VARIANT_SSDS_PART_NUMBER CHANGE_TYPE CDATA #FIXED "replace">

        <!ELEMENT VARIANT_SSDS_NOTICE_NUMBER (#PCDATA)>
        <!ATTLIST VARIANT_SSDS_NOTICE_NUMBER CHANGE_TYPE (add | replace | delete) "replace">

        <!ELEMENT VARIANT_ECU_SOFTWARE_AFFECTED (#PCDATA)>
        <!ATTLIST VARIANT_ECU_SOFTWARE_AFFECTED CHANGE_TYPE (add | replace | delete) "replace">


  <!ELEMENT VARIANT_SPECIFICATION_DOCUMENTS (VARIANT_DOCUMENT*)>
  <!ATTLIST VARIANT_SPECIFICATION_DOCUMENTS CHANGE_TYPE (add | replace | delete) "replace">

      <!ELEMENT VARIANT_DOCUMENT (VARIANT_NAME?, VARIANT_SHORTNAME?, VARIANT_PUBLISHER?, 
                                  VARIANT_VERSION?, VARIANT_DOCUMENT_NUMBER?)>
      <!ATTLIST VARIANT_DOCUMENT ID ID #IMPLIED CHANGE_TYPE CDATA #FIXED "replace">


        <!ELEMENT VARIANT_VERSION (#PCDATA)>
        <!ATTLIST VARIANT_VERSION CHANGE_TYPE (add | replace | delete) "replace">

        <!ELEMENT VARIANT_PUBLISHER (#PCDATA)>
        <!ATTLIST VARIANT_PUBLISHER CHANGE_TYPE CDATA #FIXED "replace">

        <!ELEMENT VARIANT_DOCUMENT_NUMBER (#PCDATA)>
        <!ATTLIST VARIANT_DOCUMENT_NUMBER CHANGE_TYPE (add | replace | delete) "replace">




<!ELEMENT VARIANT_PROTOCOL (VARIANT_PHYSICAL_AND_LINK_LAYER*, 
                            VARIANT_NETWORK_LAYER?, VARIANT_APPLICATION_LAYER?)>
<!ATTLIST VARIANT_PROTOCOL CHANGE_TYPE CDATA #FIXED "replace">


  <!ELEMENT VARIANT_PHYSICAL_AND_LINK_LAYER (VARIANT_NAME, VARIANT_CIRCUITRY?, VARIANT_CONNECTOR?,VARIANT_DATA_RATE?, 
                                             VARIANT_ADDRESS_SIZE?, VARIANT_PHYSICAL_ADDRESS?, 
                                             VARIANT_FUNCTIONAL_ADDRESS?, VARIANT_SECONDARY_FUNCTIONAL_ADDRESS?, 
                                             VARIANT_RESPONSE_ADDRESS?, VARIANT_UUDT_RESPONSE_ADDRESSES? )>
  <!ATTLIST VARIANT_PHYSICAL_AND_LINK_LAYER ID ID #IMPLIED 
                                            CHANGE_TYPE (add | replace | delete) "replace" 
                                            CHANGE_REF IDREF #IMPLIED>

    <!ELEMENT VARIANT_CIRCUITRY (#PCDATA)>
    <!ATTLIST VARIANT_CIRCUITRY CHANGE_TYPE CDATA #FIXED "replace">


    <!--*** Cannot replace any individual sub-elements, must replace this entire element *** -->
    <!ELEMENT VARIANT_CONNECTOR (NAME, PIN+)>
    <!ATTLIST VARIANT_CONNECTOR CHANGE_TYPE CDATA #FIXED "replace">

    <!ELEMENT VARIANT_DATA_RATE (#PCDATA)>
    <!ATTLIST VARIANT_DATA_RATE CHANGE_TYPE CDATA #FIXED "replace">

    <!ELEMENT VARIANT_ADDRESS_SIZE (#PCDATA)>
    <!ATTLIST VARIANT_ADDRESS_SIZE CHANGE_TYPE CDATA #FIXED "replace">

    <!ELEMENT VARIANT_PHYSICAL_ADDRESS (#PCDATA)>
    <!ATTLIST VARIANT_PHYSICAL_ADDRESS CHANGE_TYPE CDATA #FIXED "replace">

    <!ELEMENT VARIANT_FUNCTIONAL_ADDRESS (#PCDATA)>
    <!ATTLIST VARIANT_FUNCTIONAL_ADDRESS CHANGE_TYPE (add | replace | delete) "replace">

    <!ELEMENT VARIANT_SECONDARY_FUNCTIONAL_ADDRESS (#PCDATA)>
    <!ATTLIST VARIANT_SECONDARY_FUNCTIONAL_ADDRESS CHANGE_TYPE (add | replace | delete) "replace">

    <!ELEMENT VARIANT_RESPONSE_ADDRESS (#PCDATA)>
    <!ATTLIST VARIANT_RESPONSE_ADDRESS CHANGE_TYPE (add | replace | delete) "replace">

    <!--*** Cannot replace any individual sub-elements, must replace this entire element *** -->
    <!ELEMENT VARIANT_UUDT_RESPONSE_ADDRESSES (UUDT_ADDRESS*)>
    <!ATTLIST VARIANT_UUDT_RESPONSE_ADDRESSES CHANGE_TYPE (add | replace | delete) "replace">




  <!ELEMENT VARIANT_NETWORK_LAYER (VARIANT_DELTA_P2?, VARIANT_GATEWAY?, VARIANT_SUB_NODE?,
                                   MAX_MSG_SIZE*) >
  <!ATTLIST VARIANT_NETWORK_LAYER CHANGE_TYPE CDATA #FIXED "replace">

    <!ELEMENT VARIANT_DELTA_P2 (#PCDATA)>
    <!ATTLIST VARIANT_DELTA_P2 CHANGE_TYPE CDATA #FIXED "replace">

    <!--*** Cannot replace any individual sub-elements, must replace this entire element *** -->
    <!ELEMENT VARIANT_GATEWAY (#PCDATA) > 
    <!ATTLIST VARIANT_GATEWAY CHANGE_TYPE (add | replace | delete) "replace" >

    <!ELEMENT VARIANT_SUB_NODE (#PCDATA)>
    <!ATTLIST VARIANT_SUB_NODE CHANGE_TYPE (add | replace | delete) "replace">

    <!ELEMENT VARIANT_MAX_MSG_SIZE (#PCDATA)>
    <!ATTLIST VARIANT_MAX_MSG_SIZE ID ID #IMPLIED 
                                   CHANGE_TYPE (add | replace | delete) "replace"
                                   CHANGE_REF IDREF #IMPLIED>


  <!ELEMENT VARIANT_APPLICATION_LAYER (VARIANT_APPLICATION_LAYER_TIMING_PARAMETERS?,  
                                       VARIANT_NEGATIVE_RESPONSE_CODES_SUPPORTED?,
                                       VARIANT_SESSIONS_SUPPORTED?,
                                       VARIANT_SECURITY_LEVELS_SUPPORTED?,
                                       VARIANT_SERVICES_SUPPORTED?) >
  <!ATTLIST VARIANT_APPLICATION_LAYER CHANGE_TYPE CDATA #FIXED "replace">


    <!--*** Cannot replace any individual sub-elements, must replace this entire element *** -->
    <!ELEMENT VARIANT_APPLICATION_LAYER_TIMING_PARAMETERS (P2_MAX+, P2_STAR_MAX+, S3_SERVER_TIMEOUT+) >
    <!ATTLIST VARIANT_APPLICATION_LAYER_TIMING_PARAMETERS CHANGE_TYPE CDATA #FIXED "replace">


    <!ELEMENT VARIANT_NEGATIVE_RESPONSE_CODES_SUPPORTED (VARIANT_NEGATIVE_RESPONSE_CODE*) >
    <!ATTLIST VARIANT_NEGATIVE_RESPONSE_CODES_SUPPORTED CHANGE_TYPE CDATA #FIXED "replace">

       <!ELEMENT VARIANT_NEGATIVE_RESPONSE_CODE  (VARIANT_NAME?, VARIANT_NUMBER?, VARIANT_DESCRIPTION?) >
          <!ATTLIST VARIANT_NEGATIVE_RESPONSE_CODE ID ID #REQUIRED
                                                   CHANGE_TYPE (add | replace | delete) "replace" 
                                                   CHANGE_REF IDREF #IMPLIED>


   <!ELEMENT VARIANT_SESSIONS_SUPPORTED (VARIANT_SESSION*)>
   <!ATTLIST VARIANT_SESSIONS_SUPPORTED CHANGE_TYPE CDATA #FIXED "replace">

      <!ELEMENT VARIANT_SESSION (VARIANT_NAME?, VARIANT_NUMBER?, VARIANT_DESCRIPTION?,
                                 VARIANT_ENTRY_CONDITIONS?, VARIANT_EXIT_CONDITIONS?)>
        <!ATTLIST VARIANT_SESSION ID ID #REQUIRED
                                  CHANGE_TYPE (add | replace | delete) "replace"  
                                  CHANGE_REF IDREF #IMPLIED>

   <!ELEMENT VARIANT_SECURITY_LEVELS_SUPPORTED (VARIANT_SECURITY_LEVEL*) >
   <!ATTLIST VARIANT_SECURITY_LEVELS_SUPPORTED CHANGE_TYPE CDATA #FIXED "replace">


      <!ELEMENT VARIANT_SECURITY_LEVEL (VARIANT_NAME?, VARIANT_REQUEST_SEED_SF?, VARIANT_SEND_KEY_SF?, 
                                        VARIANT_DESCRIPTION?,
                                        VARIANT_ENTRY_CONDITIONS?, VARIANT_EXIT_CONDITIONS?)>
        <!ATTLIST VARIANT_SECURITY_LEVEL ID ID #REQUIRED
                                         CHANGE_TYPE (add | replace | delete) "replace"  
                                         CHANGE_REF IDREF #IMPLIED>

          <!ELEMENT VARIANT_REQUEST_SEED_SF EMPTY>
          <!ATTLIST VARIANT_REQUEST_SEED_SF SEED_REF IDREF #REQUIRED
                                            CHANGE_TYPE CDATA #FIXED "replace">

          <!ELEMENT VARIANT_SEND_KEY_SF EMPTY>
          <!ATTLIST VARIANT_SEND_KEY_SF SEED_REF IDREF #REQUIRED
                                        CHANGE_TYPE CDATA #FIXED "replace">


   <!ELEMENT VARIANT_SERVICES_SUPPORTED (VARIANT_SERVICE*) >
   <!ATTLIST VARIANT_SERVICES_SUPPORTED CHANGE_TYPE CDATA #FIXED "replace">


       <!ELEMENT VARIANT_SERVICE  (VARIANT_NAME?, VARIANT_NUMBER?, VARIANT_DESCRIPTION?,
                                   VARIANT_ENTRY_CONDITIONS?, VARIANT_EXIT_CONDITIONS?,
                                   VARIANT_PHYSICAL_ADDRESSING_SUPPORTED?,
                                   VARIANT_FUNCTIONAL_ADDRESSING_SUPPORTED?, 
                                   VARIANT_SUBFUNCTIONS_SUPPORTED?, 
                                   VARIANT_P4_MAX*, 

                                   ((VARIANT_SERVICE_14_SPECIFIC_PARAMETERS+) |
                                    (VARIANT_SERVICE_22_SPECIFIC_PARAMETERS+) |
                                    (VARIANT_SERVICE_23_SPECIFIC_PARAMETERS+) |
                                    (VARIANT_SERVICE_3D_SPECIFIC_PARAMETERS+) |
                                    (VARIANT_SERVICE_2C_SPECIFIC_PARAMETERS+) |
                                    (VARIANT_SERVICE_2A_SPECIFIC_PARAMETERS+) |
                                    (VARIANT_SERVICE_2F_SPECIFIC_PARAMETERS+) |
                                    (VARIANT_SERVICE_34_SPECIFIC_PARAMETERS+) |
                                    (VARIANT_SERVICE_35_SPECIFIC_PARAMETERS+))?,

                                    VARIANT_NEGATIVE_RESPONSE_CODES?)>

         <!ATTLIST VARIANT_SERVICE ID ID #REQUIRED
                                   CHANGE_TYPE (add | replace | delete) "replace"  
                                   CHANGE_REF IDREF #IMPLIED
                                   SESSION_REFS IDREFS #IMPLIED
                                   SECURITY_REFS IDREFS #IMPLIED>


         <!ELEMENT VARIANT_PHYSICAL_ADDRESSING_SUPPORTED (#PCDATA)>
         <!ATTLIST VARIANT_PHYSICAL_ADDRESSING_SUPPORTED SESSION_REFS IDREFS #IMPLIED
                                                         CHANGE_TYPE CDATA #FIXED "replace">

         <!ELEMENT VARIANT_FUNCTIONAL_ADDRESSING_SUPPORTED (#PCDATA)>
         <!ATTLIST VARIANT_FUNCTIONAL_ADDRESSING_SUPPORTED SESSION_REFS IDREFS #IMPLIED
                                                           CHANGE_TYPE CDATA #FIXED "replace">


         <!ELEMENT VARIANT_SUBFUNCTIONS_SUPPORTED (VARIANT_SPR_SUPPORTED?, VARIANT_SUBFUNCTION_PARAMETER* )>
         <!ATTLIST VARIANT_SUBFUNCTIONS_SUPPORTED CHANGE_TYPE (add | replace | delete) "replace">

            <!ELEMENT VARIANT_SPR_SUPPORTED (#PCDATA)>
            <!ATTLIST VARIANT_SPR_SUPPORTED SESSION_REFS IDREFS #IMPLIED
                                            CHANGE_TYPE CDATA #FIXED "replace">


            <!ELEMENT VARIANT_SUBFUNCTION_PARAMETER (VARIANT_NAME?, VARIANT_NUMBER?, VARIANT_DESCRIPTION?)>
            <!ATTLIST VARIANT_SUBFUNCTION_PARAMETER ID ID #REQUIRED
                                                    SESSION_REFS IDREFS #IMPLIED
                                                    SECURITY_REFS IDREFS #IMPLIED
                                                    PARAM_REF IDREF #IMPLIED
                                                    CHANGE_TYPE (add | replace | delete) "replace" 
                                                    CHANGE_REF IDREF #IMPLIED>
         <!ELEMENT VARIANT_P4_MAX (#PCDATA)>
         <!ATTLIST VARIANT_P4_MAX ID ID #IMPLIED 
                                  SESSION_REFS IDREFS #IMPLIED
                                  CHANGE_TYPE (add | replace | delete) "replace" 
                                  CHANGE_REF IDREF #IMPLIED>



            <!--*** Cannot replace any individual sub-elements, must replace this entire element *** -->
            <!ELEMENT VARIANT_SERVICE_14_SPECIFIC_PARAMETERS (GROUP_OF_DTC_SUPPORTED+) >
            <!ATTLIST VARIANT_SERVICE_14_SPECIFIC_PARAMETERS ID ID #IMPLIED 
                                                             CHANGE_TYPE (add | replace | delete) "replace"  
                                                             CHANGE_REF IDREF #IMPLIED
                                                             SESSION_REFS IDREFS #IMPLIED>

            <!--*** Cannot replace any individual sub-elements, must replace this entire element *** -->
            <!ELEMENT VARIANT_SERVICE_22_SPECIFIC_PARAMETERS (MAX_ELEMENTS_IN_REQUEST) >
            <!ATTLIST VARIANT_SERVICE_22_SPECIFIC_PARAMETERS ID ID #IMPLIED 
                                                             CHANGE_TYPE (add | replace | delete) "replace"  
                                                             CHANGE_REF IDREF #IMPLIED
                                                             SESSION_REFS IDREFS #IMPLIED>

            <!--*** Cannot replace any individual sub-elements, must replace this entire element *** -->
            <!ELEMENT VARIANT_SERVICE_23_SPECIFIC_PARAMETERS (MEMORY_SIZE_PARAMETER_LENGTH, 
                                                              MEMORY_ADDRESS_PARAMETER_LENGTH,
                                                              MEMORY_SIZE_PARAMETER+) >
            <!ATTLIST VARIANT_SERVICE_23_SPECIFIC_PARAMETERS ID ID #IMPLIED 
                                                             CHANGE_TYPE (add | replace | delete) "replace"  
                                                             CHANGE_REF IDREF #IMPLIED
                                                             SESSION_REFS IDREFS #IMPLIED>


            <!--*** Cannot replace any individual sub-elements, must replace this entire element *** -->
            <!ELEMENT VARIANT_SERVICE_3D_SPECIFIC_PARAMETERS (MEMORY_SIZE_PARAMETER_LENGTH, 
                                                              MEMORY_ADDRESS_PARAMETER_LENGTH,
                                                              MEMORY_SIZE_PARAMETER+) >
            <!ATTLIST VARIANT_SERVICE_3D_SPECIFIC_PARAMETERS ID ID #IMPLIED 
                                                             CHANGE_TYPE (add | replace | delete) "replace"  
                                                             CHANGE_REF IDREF #IMPLIED
                                                             SESSION_REFS IDREFS #IMPLIED>


            <!--*** Cannot replace any individual sub-elements, must replace this entire element *** -->
            <!ELEMENT VARIANT_SERVICE_2C_SPECIFIC_PARAMETERS (MAX_ELEMENTS_IN_REQUEST, MAX_PERIODIC_ID_SIZE,
                                                              MAX_PERIODIC_IDS_SUPPORTED,
                                                              MEMORY_ADDRESS_PARAMETER_LENGTH*,
                                                              MEMORY_SIZE_PARAMETER_LENGTH*, 
                                                              MEMORY_SIZE_PARAMETER*) >
            <!ATTLIST VARIANT_SERVICE_2C_SPECIFIC_PARAMETERS ID ID #IMPLIED 
                                                             CHANGE_TYPE (add | replace | delete) "replace"  
                                                             CHANGE_REF IDREF #IMPLIED
                                                             SESSION_REFS IDREFS #IMPLIED>

            <!--*** Cannot replace any individual sub-elements, must replace this entire element *** -->
            <!ELEMENT VARIANT_SERVICE_2A_SPECIFIC_PARAMETERS (TRANSMISSION_MODE_SUPPORTED+,
                                                              MAX_ELEMENTS_IN_REQUEST,
                                                              MAX_ACTIVE_PERIODIC_IDS,
                                                              UNAVAILABLE_FUNCTIONALITY?) >
            <!ATTLIST VARIANT_SERVICE_2A_SPECIFIC_PARAMETERS ID ID #IMPLIED 
                                                             CHANGE_TYPE (add | replace | delete) "replace"  
                                                             CHANGE_REF IDREF #IMPLIED
                                                             SESSION_REFS IDREFS #IMPLIED>


            <!--*** Cannot replace any individual sub-elements, must replace this entire element *** -->
            <!ELEMENT VARIANT_SERVICE_2F_SPECIFIC_PARAMETERS (IO_CONTROL_PARAMETER+) >
            <!ATTLIST VARIANT_SERVICE_2F_SPECIFIC_PARAMETERS ID ID #IMPLIED 
                                                             CHANGE_TYPE (add | replace | delete) "replace"  
                                                             CHANGE_REF IDREF #IMPLIED
                                                             SESSION_REFS IDREFS #IMPLIED>

            <!--*** Cannot replace any individual sub-elements, must replace this entire element *** -->
            <!ELEMENT VARIANT_SERVICE_34_SPECIFIC_PARAMETERS (DATA_FORMAT_IDENTIFIERS_SUPPORTED+,
                                                              MEMORY_SIZE_PARAMETER_LENGTH, 
                                                              MEMORY_ADDRESS_PARAMETER_LENGTH ) >
            <!ATTLIST VARIANT_SERVICE_34_SPECIFIC_PARAMETERS ID ID #IMPLIED 
                                                             CHANGE_TYPE (add | replace | delete) "replace"  
                                                             CHANGE_REF IDREF #IMPLIED
                                                             SESSION_REFS IDREFS #IMPLIED>

            <!--*** Cannot replace any individual sub-elements, must replace this entire element *** -->
            <!ELEMENT VARIANT_SERVICE_35_SPECIFIC_PARAMETERS (DATA_FORMAT_IDENTIFIERS_SUPPORTED+,
                                                              MEMORY_SIZE_PARAMETER_LENGTH, 
                                                              MEMORY_ADDRESS_PARAMETER_LENGTH ) >
            <!ATTLIST VARIANT_SERVICE_35_SPECIFIC_PARAMETERS ID ID #IMPLIED 
                                                             CHANGE_TYPE (add | replace | delete) "replace"  
                                                             CHANGE_REF IDREF #IMPLIED
                                                             SESSION_REFS IDREFS #IMPLIED>

         <!ELEMENT VARIANT_NEGATIVE_RESPONSE_CODES (VARIANT_NRC*)>
           <!ELEMENT VARIANT_NRC (#PCDATA)>
             <!ATTLIST VARIANT_NRC ID ID #IMPLIED 
                                   CHANGE_TYPE (add | replace | delete) "replace" 
                                   CHANGE_REF IDREF #IMPLIED
                                   NRC_REF IDREF #IMPLIED>


  <!ELEMENT VARIANT_ECU_DATA (VARIANT_DATA_IDENTIFIERS?, 
                              VARIANT_DIAGNOSTIC_TROUBLE_CODES?, 
                              VARIANT_ROUTINE_IDENTIFIERS?, 
                              VARIANT_MEMORY_AREAS?, 
                              VARIANT_CONFIGURATION_DATA?, 
                              VARIANT_SECURITY_DATA?)>
  <!ATTLIST VARIANT_ECU_DATA CHANGE_TYPE CDATA #FIXED "replace">

   <!ELEMENT VARIANT_DATA_IDENTIFIERS (VARIANT_DID*)>
   <!ATTLIST VARIANT_DATA_IDENTIFIERS CHANGE_TYPE CDATA #FIXED "replace">

     <!ELEMENT VARIANT_DID (VARIANT_NAME?, VARIANT_SHORTNAME?, VARIANT_NUMBER?, VARIANT_DESCRIPTION?,
                            VARIANT_BYTE_SIZE?, VARIANT_DID_TYPE?, VARIANT_ACCESS_PARAMETERS?,
                            VARIANT_SUB_FIELD*)>
     <!ATTLIST VARIANT_DID ID ID #REQUIRED
                           CHANGE_TYPE (add | replace | delete) "replace" 
                           CHANGE_REF IDREF #IMPLIED>

     <!ELEMENT VARIANT_DID_TYPE (#PCDATA)>
     <!ATTLIST VARIANT_DID_TYPE CHANGE_TYPE CDATA #FIXED "replace">


    <!ELEMENT VARIANT_DIAGNOSTIC_TROUBLE_CODES (VARIANT_DTC_STATUS_BITS_SUPPORTED?, 
                                                VARIANT_DTC_FAILURE_TYPES_SUPPORTED?, 
                                                VARIANT_DTC_SNAPSHOT_SUPPORTED?,
                                                VARIANT_DTC_NUMBER_FREEZE_FRAMES_SUPPORTED?,
                                                VARIANT_DTC_EXTENDED_DATA_RECORDS_SUPPORTED?, 
                                                VARIANT_DTC*) >
    <!ATTLIST VARIANT_DIAGNOSTIC_TROUBLE_CODES CHANGE_TYPE CDATA #FIXED "replace">

      <!ELEMENT VARIANT_DTC_STATUS_BITS_SUPPORTED ( VARIANT_DTC_STATUS_BIT* )>
      <!ATTLIST VARIANT_DTC_STATUS_BITS_SUPPORTED CHANGE_TYPE CDATA #FIXED "replace">

        <!ELEMENT VARIANT_DTC_STATUS_BIT ( VARIANT_NAME?, VARIANT_NUMBER?, VARIANT_DESCRIPTION?)>
          <!ATTLIST VARIANT_DTC_STATUS_BIT ID ID #IMPLIED 
                                           CHANGE_TYPE (add | replace | delete) "replace"
                                           CHANGE_REF IDREF #IMPLIED>

               <!--*** For failure types supported, really no need to delete or replace, just add *** -->
      <!ELEMENT VARIANT_DTC_FAILURE_TYPES_SUPPORTED (VARIANT_DTC_FAILURE_TYPE*)>
      <!ATTLIST VARIANT_DTC_FAILURE_TYPES_SUPPORTED CHANGE_TYPE CDATA #FIXED "replace">

        <!ELEMENT VARIANT_DTC_FAILURE_TYPE (VARIANT_NUMBER?, VARIANT_DESCRIPTION?)>
          <!ATTLIST VARIANT_DTC_FAILURE_TYPE ID ID #REQUIRED
                                             CHANGE_TYPE (add | replace | delete) "replace"
                                             CHANGE_REF IDREF #IMPLIED>

      <!ELEMENT VARIANT_DTC_SNAPSHOT_SUPPORTED (VARIANT_DTC_SNAPSHOT_RECORD*)>
      <!ATTLIST VARIANT_DTC_SNAPSHOT_SUPPORTED CHANGE_TYPE (add | replace | delete) "replace">


        <!ELEMENT VARIANT_DTC_SNAPSHOT_RECORD (VARIANT_NUMBER?, VARIANT_DESCRIPTION?)>
        <!ATTLIST VARIANT_DTC_SNAPSHOT_RECORD ID ID #REQUIRED 
                                              CHANGE_TYPE (add | replace | delete) "replace"
                                              CHANGE_REF IDREF #IMPLIED>

      <!ELEMENT VARIANT_DTC_NUMBER_FREEZE_FRAMES_SUPPORTED (#PCDATA)>
      <!ATTLIST VARIANT_DTC_NUMBER_FREEZE_FRAMES_SUPPORTED CHANGE_TYPE (add | replace | delete) "replace">


      <!ELEMENT VARIANT_DTC_EXTENDED_DATA_RECORDS_SUPPORTED (VARIANT_DTC_EXTENDED_DATA_RECORD*) >
      <!ATTLIST VARIANT_DTC_EXTENDED_DATA_RECORDS_SUPPORTED CHANGE_TYPE (add | replace | delete) "replace">

         <!ELEMENT VARIANT_DTC_EXTENDED_DATA_RECORD (VARIANT_NAME?, VARIANT_SHORTNAME?, VARIANT_NUMBER?, 
                                                     VARIANT_DESCRIPTION?, VARIANT_BYTE_SIZE?, 
                                                     VARIANT_SUB_FIELD*)>
         <!ATTLIST VARIANT_DTC_EXTENDED_DATA_RECORD ID ID #REQUIRED 
                                                    CHANGE_TYPE (add | replace | delete) "replace" 
                                                    CHANGE_REF IDREF #IMPLIED>


      <!ELEMENT VARIANT_DTC (VARIANT_NUMBER?, VARIANT_DESCRIPTION?, VARIANT_DTC_FAILURE_INFO*)>
      <!ATTLIST VARIANT_DTC ID ID #IMPLIED
                            CHANGE_TYPE (add | replace | delete) "replace" 
                            CHANGE_REF IDREF #IMPLIED>

        <!ELEMENT VARIANT_DTC_FAILURE_INFO (VARIANT_DTC_FTB?, 
                                            VARIANT_DTC_CONTINUOUS_MONITORING_SUPPORTED?, 
                                            VARIANT_DTC_CONTINUOUS_PARAMETERS?, 
                                            VARIANT_DTC_ROUTINE_MONITORING_SUPPORTED?, 
                                            VARIANT_ECU_CONNECTOR_PIN? )>
           <!ATTLIST VARIANT_DTC_FAILURE_INFO  ID ID #IMPLIED
                                               CHANGE_TYPE (add | replace | delete) "replace" 
                                               CHANGE_REF IDREF #IMPLIED>

           <!ELEMENT VARIANT_DTC_FTB EMPTY>
           <!ATTLIST VARIANT_DTC_FTB FAILURE_REF IDREF #REQUIRED 
                                     CHANGE_TYPE CDATA #FIXED "replace">

          <!ELEMENT VARIANT_DTC_CONTINUOUS_MONITORING_SUPPORTED (#PCDATA)>
          <!ATTLIST VARIANT_DTC_CONTINUOUS_MONITORING_SUPPORTED CHANGE_TYPE CDATA #FIXED "replace">


           <!ELEMENT VARIANT_DTC_CONTINUOUS_PARAMETERS (VARIANT_DTC_MONITORING_CYCLE?,
                                                        VARIANT_TEST_RUN_CRITERIA?, 
                                                        VARIANT_TEST_PERIOD?, 
                                                        VARIANT_AGING_COUNTER?, 
                                                        VARIANT_AGED_COUNT?, 
                                                        VARIANT_FDC_INC_VALUE?, 
                                                        VARIANT_FDC_DEC_VALUE?, 
                                                        VARIANT_FDC_PASS_FAIL_CRITERIA?, 
                                                        VARIANT_ECU_FAULT_ACTION?, 
                                                        VARIANT_FAULT_SYMPTOM?, 
                                                        VARIANT_SNAPSHOT_PARAMETERS?,
                                                        VARIANT_FREEZE_FRAME_RECORD_DATA?,
                                                        VARIANT_EXTENDED_DATA_PARAMETERS?,
                                                        VARIANT_SPECIAL_CONSIDERATIONS?)>
            <!ATTLIST VARIANT_DTC_CONTINUOUS_PARAMETERS CHANGE_TYPE (add | replace | delete) "replace">


            <!ELEMENT VARIANT_DTC_MONITORING_CYCLE (#PCDATA)>
            <!ATTLIST VARIANT_DTC_MONITORING_CYCLE CHANGE_TYPE CDATA #FIXED "replace">

            <!ELEMENT VARIANT_TEST_RUN_CRITERIA (#PCDATA)>
            <!ATTLIST VARIANT_TEST_RUN_CRITERIA CHANGE_TYPE CDATA #FIXED "replace">

            <!ELEMENT VARIANT_TEST_PERIOD (#PCDATA)>
            <!ATTLIST VARIANT_TEST_PERIOD CHANGE_TYPE CDATA #FIXED "replace">

            <!ELEMENT VARIANT_AGING_COUNTER EMPTY>
            <!ATTLIST VARIANT_AGING_COUNTER EDR_REF IDREF #REQUIRED
                                            CHANGE_TYPE (add | replace | delete) "replace">
  
            <!ELEMENT VARIANT_AGED_COUNT (#PCDATA)>
            <!ATTLIST VARIANT_AGED_COUNT CHANGE_TYPE (add | replace | delete) "replace">

            <!ELEMENT VARIANT_FDC_INC_VALUE (#PCDATA)>
            <!ATTLIST VARIANT_FDC_INC_VALUE CHANGE_TYPE (add | replace | delete) "replace">

            <!ELEMENT VARIANT_FDC_DEC_VALUE (#PCDATA)>
            <!ATTLIST VARIANT_FDC_DEC_VALUE CHANGE_TYPE (add | replace | delete) "replace">

            <!ELEMENT VARIANT_FDC_PASS_FAIL_CRITERIA (#PCDATA)>
            <!ATTLIST VARIANT_FDC_PASS_FAIL_CRITERIA CHANGE_TYPE (add | replace | delete) "replace">

            <!ELEMENT VARIANT_ECU_FAULT_ACTION (#PCDATA)>
            <!ATTLIST VARIANT_ECU_FAULT_ACTION CHANGE_TYPE (add | replace | delete) "replace">

            <!ELEMENT VARIANT_FAULT_SYMPTOM (#PCDATA)>
            <!ATTLIST VARIANT_FAULT_SYMPTOM CHANGE_TYPE (add | replace | delete) "replace">


            <!ELEMENT VARIANT_SNAPSHOT_PARAMETERS (VARIANT_SNAPSHOT_RECORD_DATA*) >
            <!ATTLIST VARIANT_SNAPSHOT_PARAMETERS CHANGE_TYPE (add | replace | delete) "replace">

              <!ELEMENT VARIANT_SNAPSHOT_RECORD_DATA (VARIANT_DIDS_SUPPORTED_BY_SNAPSHOT?, 
                                                      VARIANT_SAMPLES_SNAPSHOT_DATA_PER_RECORD?,
                                                      VARIANT_DESCRIPTION?) >
              <!ATTLIST VARIANT_SNAPSHOT_RECORD_DATA ID ID #IMPLIED  
                                                     SNAPSHOT_REF IDREF #REQUIRED
                                                     CHANGE_TYPE (add | replace | delete) "replace" 
                                                     CHANGE_REF IDREF #IMPLIED>

                <!ELEMENT VARIANT_DIDS_SUPPORTED_BY_SNAPSHOT EMPTY>
                <!ATTLIST VARIANT_DIDS_SUPPORTED_BY_SNAPSHOT DID_REFS IDREFS #REQUIRED 
                                                             CHANGE_TYPE CDATA #FIXED "replace">

                <!ELEMENT VARIANT_SAMPLES_SNAPSHOT_DATA_PER_RECORD (#PCDATA)>
                <!ATTLIST VARIANT_SAMPLES_SNAPSHOT_DATA_PER_RECORD CHANGE_TYPE CDATA #FIXED "replace">

            <!ELEMENT VARIANT_FREEZE_FRAME_RECORD_DATA (VARIANT_DIDS_SUPPORTED_BY_FREEZE_FRAME?, 
                                                        VARIANT_DESCRIPTION?) >
            <!ATTLIST VARIANT_FREEZE_FRAME_RECORD_DATA CHANGE_TYPE (add | replace | delete) "replace" >

              <!ELEMENT VARIANT_DIDS_SUPPORTED_BY_FREEZE_FRAME EMPTY>
                <!ATTLIST VARIANT_DIDS_SUPPORTED_BY_FREEZE_FRAME DID_REFS IDREFS #REQUIRED 
                                                                 CHANGE_TYPE CDATA #FIXED "replace">

            <!ELEMENT VARIANT_EXTENDED_DATA_PARAMETERS EMPTY >
            <!ATTLIST VARIANT_EXTENDED_DATA_PARAMETERS EDR_REFS IDREFS #REQUIRED
                                                       CHANGE_TYPE (add | replace | delete) "replace" 
                                                       CHANGE_REF IDREF #IMPLIED>


         <!ELEMENT VARIANT_DTC_ROUTINE_MONITORING_SUPPORTED (#PCDATA)>
         <!ATTLIST VARIANT_DTC_ROUTINE_MONITORING_SUPPORTED ROUTINE_REFS IDREFS #IMPLIED
                                                  CHANGE_TYPE CDATA #FIXED "replace">

         <!ELEMENT VARIANT_ECU_CONNECTOR_PIN (#PCDATA)>
         <!ATTLIST VARIANT_ECU_CONNECTOR_PIN CHANGE_TYPE (add | replace | delete) "replace">



      <!ELEMENT VARIANT_ROUTINE_IDENTIFIERS (VARIANT_ROUTINE*)>
      <!ATTLIST VARIANT_ROUTINE_IDENTIFIERS CHANGE_TYPE CDATA #FIXED "replace">

        <!ELEMENT VARIANT_ROUTINE (VARIANT_NAME?, VARIANT_SHORTNAME?, VARIANT_NUMBER?, VARIANT_DESCRIPTION?,
                                   VARIANT_MAX_ROUTINE_RUN_TIME?, VARIANT_RESTART_WHILE_RUNNING?,
                                   VARIANT_ENTRY_CONDITIONS?, VARIANT_EXIT_CONDITIONS?, 
                                   VARIANT_ROUTINE_START_PARAMETERS?,
                                   VARIANT_ROUTINE_STOP_PARAMETERS?,
                                   VARIANT_ROUTINE_REQUEST_RESULTS_PARAMETERS? ) >
        <!ATTLIST VARIANT_ROUTINE  ID ID #REQUIRED
                                   SESSION_REFS IDREFS #IMPLIED
                                   SECURITY_REFS IDREFS #IMPLIED
                                   CHANGE_TYPE (add | replace | delete) "replace" 
                                   CHANGE_REF IDREF #IMPLIED>

          <!ELEMENT VARIANT_MAX_ROUTINE_RUN_TIME (#PCDATA) >
          <!ATTLIST VARIANT_MAX_ROUTINE_RUN_TIME CHANGE_TYPE CDATA #FIXED "replace">

          <!ELEMENT VARIANT_RESTART_WHILE_RUNNING (#PCDATA) >
          <!ATTLIST VARIANT_RESTART_WHILE_RUNNING CHANGE_TYPE CDATA #FIXED "replace">


          <!ELEMENT VARIANT_ROUTINE_START_PARAMETERS (VARIANT_ROUTINE_REQUEST_PARAMETERS?, 
                                                      VARIANT_ROUTINE_RESPONSE_PARAMETERS?) >
          <!ATTLIST VARIANT_ROUTINE_START_PARAMETERS ID ID #IMPLIED 
                                                     CHANGE_TYPE (add | replace | delete) "replace" >

          <!ELEMENT VARIANT_ROUTINE_STOP_PARAMETERS  (VARIANT_ROUTINE_REQUEST_PARAMETERS?, 
                                                      VARIANT_ROUTINE_RESPONSE_PARAMETERS?) >
          <!ATTLIST VARIANT_ROUTINE_STOP_PARAMETERS ID ID #IMPLIED 
                                                    CHANGE_TYPE (add | replace | delete) "replace" >

          <!ELEMENT VARIANT_ROUTINE_REQUEST_RESULTS_PARAMETERS (VARIANT_ROUTINE_RESPONSE_PARAMETERS?) >
          <!ATTLIST VARIANT_ROUTINE_REQUEST_RESULTS_PARAMETERS ID ID #IMPLIED 
                                                              CHANGE_TYPE (add | replace | delete) "replace" >


            <!ELEMENT VARIANT_ROUTINE_REQUEST_PARAMETERS  (VARIANT_ROUTINE_PARAM*) >
            <!ATTLIST VARIANT_ROUTINE_REQUEST_PARAMETERS ID ID #IMPLIED
                                                         CHANGE_TYPE (add | replace | delete) "replace" >

            <!ELEMENT VARIANT_ROUTINE_RESPONSE_PARAMETERS (VARIANT_ROUTINE_PARAM*) >
            <!ATTLIST VARIANT_ROUTINE_RESPONSE_PARAMETERS ID ID #IMPLIED
                                                          CHANGE_TYPE (add | replace | delete) "replace" >

            <!ELEMENT VARIANT_ROUTINE_PARAM (VARIANT_NAME?, VARIANT_SHORTNAME?, VARIANT_DESCRIPTION?, 
                                             VARIANT_BYTE_SIZE?, VARIANT_SUB_FIELD*, VARIANT_SEQUENCE_OF?) >
            <!ATTLIST VARIANT_ROUTINE_PARAM ID ID #IMPLIED
                                            CHANGE_TYPE (add | replace | delete) "replace" 
                                            CHANGE_REF IDREF #IMPLIED>


            <!ELEMENT VARIANT_SEQUENCE_OF ( VARIANT_SEQUENCE_MIN?, VARIANT_SEQUENCE_MAX?, VARIANT_SUB_FIELD*) >
            <!ATTLIST VARIANT_SEQUENCE_OF ID ID #IMPLIED
                                          CHANGE_TYPE (add | replace | delete) "replace" >

              <!ELEMENT VARIANT_SEQUENCE_MIN (#PCDATA)>
              <!ATTLIST VARIANT_SEQUENCE_MIN  CHANGE_TYPE (add | replace | delete) "replace">

              <!ELEMENT VARIANT_SEQUENCE_MAX (#PCDATA)>
              <!ATTLIST VARIANT_SEQUENCE_MAX  CHANGE_TYPE (add | replace | delete) "replace">



      <!ELEMENT VARIANT_MEMORY_AREAS (VARIANT_MEMORY_AREA*) >
      <!ATTLIST VARIANT_MEMORY_AREAS CHANGE_TYPE (add | replace | delete) "replace">


        <!ELEMENT VARIANT_MEMORY_AREA (VARIANT_NAME?, VARIANT_SHORTNAME?, VARIANT_DESCRIPTION?, 
                                       VARIANT_START_ADDRESS?, VARIANT_BYTE_SIZE?, 
                                       VARIANT_ACCESS_PARAMETERS?, VARIANT_MEMORY_PARAM*)>
        <!ATTLIST VARIANT_MEMORY_AREA ID ID #IMPLIED
                                      CHANGE_TYPE (add | replace | delete) "replace" 
                                      CHANGE_REF IDREF #IMPLIED>

          <!ELEMENT VARIANT_START_ADDRESS (#PCDATA) >
          <!ATTLIST VARIANT_START_ADDRESS CHANGE_TYPE CDATA #FIXED "replace">

          <!ELEMENT VARIANT_MEMORY_PARAM (VARIANT_NAME?, VARIANT_SHORTNAME?, VARIANT_DESCRIPTION?, 
                                          VARIANT_BYTE_OFFSET?, VARIANT_BYTE_SIZE?, MEMORY_ARCHITECTURE?,
                                          VARIANT_SUB_FIELD*) >
          <!ATTLIST VARIANT_MEMORY_PARAM ID ID #IMPLIED
                                            CHANGE_TYPE (add | replace | delete) "replace" 
                                            CHANGE_REF IDREF #IMPLIED>

          <!ELEMENT VARIANT_BYTE_OFFSET (#PCDATA) >
          <!ATTLIST VARIANT_BYTE_OFFSET CHANGE_TYPE CDATA #FIXED "replace">

          <!ELEMENT VARIANT_MEMORY_ARCHITECTURE (#PCDATA) >
          <!ATTLIST VARIANT_MEMORY_ARCHITECTURE CHANGE_TYPE CDATA #FIXED "replace">



      <!ELEMENT VARIANT_CONFIGURATION_DATA ANY>
      <!ATTLIST VARIANT_CONFIGURATION_DATA CHANGE_TYPE (add | replace | delete) "replace">

      <!ELEMENT VARIANT_SECURITY_DATA (VARIANT_FIXED_BYTES*, VARIANT_FALSE_ACCESS_DATA*)>
      <!ATTLIST VARIANT_SECURITY_DATA CHANGE_TYPE (add | replace | delete) "replace">

        <!--*** Cannot replace any individual sub-elements, must replace this entire element *** -->
        <!ELEMENT VARIANT_FIXED_BYTES (FIXED_BYTE, FIXED_BYTE, FIXED_BYTE, FIXED_BYTE, FIXED_BYTE)>
        <!ATTLIST VARIANT_FIXED_BYTES ID ID #IMPLIED  
                                      CHANGE_TYPE (add | replace | delete) "replace" 
                                      CHANGE_REF IDREF #IMPLIED
                                      SECURITY_REFS IDREFS #IMPLIED>

        <!ELEMENT VARIANT_FALSE_ACCESS_DATA (VARIANT_FALSE_ACCESS_ATTEMPTS?, VARIANT_FALSE_ACCESS_DELAY?)>
        <!ATTLIST VARIANT_FALSE_ACCESS_DATA ID ID #IMPLIED
                                            CHANGE_TYPE (add | replace | delete) "replace" 
                                            CHANGE_REF IDREF #IMPLIED
                                            SECURITY_REFS IDREF #IMPLIED>

        <!ELEMENT VARIANT_FALSE_ACCESS_ATTEMPTS (#PCDATA)>
        <!ATTLIST VARIANT_FALSE_ACCESS_ATTEMPTS CHANGE_TYPE CDATA #FIXED "replace">

        <!ELEMENT VARIANT_FALSE_ACCESS_DELAY (#PCDATA)>
        <!ATTLIST VARIANT_FALSE_ACCESS_DELAY CHANGE_TYPE CDATA #FIXED "replace">



  <!ELEMENT VARIANT_SPECIAL_PROCEDURES (VARIANT_PROCEDURE*)>
  <!ATTLIST VARIANT_SPECIAL_PROCEDURES CHANGE_TYPE (add | replace | delete) "replace">

    <!ELEMENT VARIANT_PROCEDURE (VARIANT_NAME?, VARIANT_DESCRIPTION?, 
                                 VARIANT_REQUIRED_FOR_SERVICE?, VARIANT_REQUIRED_FOR_EOL?,
                                 VARIANT_FILE_REFERENCE?,
                                 VARIANT_PROCEDURE_STEP*) >
    <!ATTLIST VARIANT_PROCEDURE ID ID #IMPLIED
                                CHANGE_TYPE (add | replace | delete) "replace" 
                                CHANGE_REF IDREF #IMPLIED>

      <!ELEMENT VARIANT_REQUIRED_FOR_SERVICE (#PCDATA)>
      <!ATTLIST VARIANT_REQUIRED_FOR_SERVICE CHANGE_TYPE CDATA #FIXED "replace">

      <!ELEMENT VARIANT_REQUIRED_FOR_EOL (#PCDATA)>
      <!ATTLIST VARIANT_REQUIRED_FOR_EOL CHANGE_TYPE CDATA #FIXED "replace">

      <!ELEMENT VARIANT_FILE_REFERENCE (#PCDATA)>
      <!ATTLIST VARIANT_FILE_REFERENCE CHANGE_TYPE (add | replace | delete) "replace"
                                       xlink:type CDATA  #FIXED "simple"
                                       xlink:href CDATA #REQUIRED>

      <!ELEMENT VARIANT_PROCEDURE_STEP (VARIANT_NUMBER?, VARIANT_NAME?, VARIANT_DESCRIPTION?) >
      <!ATTLIST VARIANT_PROCEDURE_STEP ID ID #IMPLIED
                                       CHANGE_TYPE (add | replace | delete) "replace" 
                                       CHANGE_REF IDREF #IMPLIED>

  <!ELEMENT VARIANT_DEVIATIONS (VARIANT_DEVIATION*)>
  <!ATTLIST VARIANT_DEVIATIONS CHANGE_TYPE (add | replace | delete) "replace">

    <!ELEMENT VARIANT_DEVIATION (VARIANT_DEVIATION_NUMBER?, VARIANT_DATE?, VARIANT_DEV_STATUS?, 
                                 VARIANT_DATE_APPROVED?, VARIANT_DESCRIPTION?, VARIANT_COMMENT?) >
    <!ATTLIST VARIANT_DEVIATION ID ID #IMPLIED
                                CHANGE_TYPE (add | replace | delete) "replace" 
                                CHANGE_REF IDREF #IMPLIED>

       <!ELEMENT VARIANT_DEVIATION_NUMBER (#PCDATA) >  
       <!ATTLIST VARIANT_DEVIATION_NUMBER CHANGE_TYPE (add | replace | delete) "replace">

       <!ELEMENT VARIANT_DEV_STATUS (#PCDATA) >
       <!ATTLIST VARIANT_DEV_STATUS CHANGE_TYPE (add | replace | delete) "replace">

       <!ELEMENT VARIANT_DATE_APPROVED (YEAR, MONTH, DAY)>
       <!ATTLIST VARIANT_DATE_APPROVED CHANGE_TYPE (add | replace | delete) "replace">
